html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
}

body {
  font-family: Arial, serif;
  color: #333;
}

.app {
  margin: 0 40px;
}

.app__title {
  font-size: 18px;
  color: #006688;
  margin: 10px 0;
}

.app__header {
  margin: 20px 0;
}

.app__footer {
  font-size: 12px;
  text-align: center;
  margin: 20px 0;
  color: gray;
}
