.grouped-contributions-list {

}

.grouped-contributions-list__group {

}

.grouped-contributions-list__criteria {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  margin: 10px 0;
}

.grouped-contributions-list__criteria-title,
.grouped-contributions-list__criteria-value,
.grouped-contributions-list__criteria-total {
  display: inline;
}

.grouped-contributions-list__criteria-value {
  margin-left: 5px;
}

.grouped-contributions-list__criteria-total {
  float: right;
}

.grouped-contributions-list__contributions,
.grouped-contributions-list__sub-group {
  margin-left: 20px;
}
