.contribution-list {
  font-size: 12px;
}

.contribution-list__item {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 10px;
}

.contribution-list__value {
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
  color: green;
  padding-left: 20px;
}

.contribution-list__item + .contribution-list__item {
  margin-top: 2px;
}

.contribution-list__prop {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contribution-list__prop-label, .contribution-list__prop-content {
  display: inline-block;
  text-align: right;
}

.contribution-list__prop-label {
  width: 40px;
  margin-right: 5px;
  color: #aaa;
}

.contribution-list__props {
  overflow: hidden;
}
