.group-contributions-panel {
  font-size: 14px;
}

.group-contributions-panel__group {
  border-radius: 3px;
  background: #ddd;
  padding: 5px 7px;
}

.group-contributions-panel__group-title {
  display: inline;
}

.group-contributions-panel__group-title {
  margin-left: 3px;
}

.group-contributions-panel__group + .group-contributions-panel__group {
  margin-left: 10px;
}

.group-contributions-panel__group_active {
  background: #555;
  color: white;
}

.group-contributions-panel__show-list-when-grouped {
  float: right;
}

.group-contributions-panel__show-list-when-grouped-title {
  display: inline;
  margin-left: 3px;
}
